body { font-family: sans-serif; }

.wrapper{
	width: 100%;
	height: 100%
	margin: 0px auto;
}
.resize{
	width: 100%;
	height: 100%
	margin: 0px auto;
	
}
.scene {
  width: 200px;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
}
.inlineview{
	display: inline-block;
}

.coin0 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border: 1px solid #CCC;
}

.is-flipped {
	transform: rotateY(720deg);
	transition-duration: 0.755s;
}
.hideElement{
	display: none;
}

.coin0__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.coin0__face--front {

}

.coin0__face--back {

  transform: rotateY(180deg);
}
.scene2 {
  width: 200px;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
}


.coin1 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border: 1px solid #Cab
}



.coin1__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.coin1__face--front {

}

.coin1__face--back {

  transform: rotateY(180deg);
}
